.primary-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-label {
    font-weight: 500;
    color: #002142;
    margin-top: 5px;
}

.mb-3 {
    margin: 0;
}

.figure1 {
    margin-left: 40px;
}

.box-main2 {
    width: 70.7%;
    margin-top: 3em;
    margin-bottom: 3em;

}

.bi-person-vcard-fill,
.bi-person-vcard,
.bi-person-video,
.bi-person-workspace,
.bi-archive {
    color: #a0a0a0;
    font-size: 60px;
}



.box-menu {
    display: flex;
    font-weight: 550;
    text-align: center;

}

.box-options {
    display: flex;
    justify-content: center;
}

.box-options i {
    margin-right: 10px;
}

.sub-menu {
    width: 10.2em;
    height: 5em;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h6 {
    color: #134074;
}

.m-b {
    background-color: #f3f3f3;
    margin-left: -1em;
}


.secundary-box {
    height: 52em;
    width: 100%;

}

.secundary-box .container {
    background-color: rgb(255, 255, 255);
    width: 70%;


}

.btnfs {
    color: #002f5d;
    background-color: #ffffff;
    border: 2px solid#002f5d;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px #002f5d78;

}

.btnfs:hover {
    color: #198754;
    background-color: #ffffff;
    border: 2px solid #198754;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(0, 185, 99, 0.403);
}

.btnfa {
    color: #002f5d;
    background-color: #ffffff;
    border: 2px solid#002f5d;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px #002f5d78;

}


.btnfa:hover {
    color: #dd5c00;
    background-color: #ffffff;
    border: 2px solid #dd5c00;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(135, 71, 25, 0.462)
}

.btnfd {
    color: #002f5d;
    background-color: #ffffff;
    border: 2px solid#002f5d;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px #002f5d78;

}

.btn-estado-activo {
    margin-top: 1em;
    margin-bottom: 0.6em;
    color: #198754;
    background-color: #ffffff;
    border: 2px solid #198754;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(0, 185, 99, 0.403);
}

.btn-estado-activo:hover {
    margin-top: 1em;
    margin-bottom: 0.6em;
    color: #198754;
    background-color: #ffffff;
    border: 2px solid #198754;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(0, 185, 99, 0.403);
}


.btn-estado-inactivo {
    margin-top: 1em;
    margin-bottom: 0.2em;
    color: #b90000;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(135, 32, 25, 0.462)

}

.btn-estado-inactivo:hover {
    margin-top: 1em;
    margin-bottom: 0.2em;
    color: #b90000;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(135, 32, 25, 0.462)

}



.btnfd:hover {
    color: #b90000;
    background-color: #ffffff;
    border: 2px solid #b90000;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(135, 71, 25, 0.462)
}



.espbots {
    margin-top: 3em;

}

.ip {
    font-size: 16px;
}


.divider-horizontal1,
.divider-horizontal2,
.divider-horizontal3,
.divider-horizontal4 {
    margin-top: 50px;
    background-color: #a0a0a0;
    width: 160px;
    height: 4px;
    margin-bottom: px;
}

.divider-horizontal {
    background-color: #002f5d;
    width: 1em;
    height: 1em;
}

.bi .pa_info_sup {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
}

.segun .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid  #002f5d;

}

.editing-mode-datos {
    background-color: #1987540f;
    border-radius: 6px;
    margin-left: 1em;
    border-top: 3px solid #005d39; 
    box-shadow: 1px 2px 4px #005d396b; 
    
 }

 .canceled-mode-datos {
    background-color: white;
    border-radius: 6px;
    margin-left: 1em;
    border-top: 3px solid  #002f5d;

 }


.mode-color{
    border-bottom: 2px solid #134074;
}
 
.box-mayor-ver-emple {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}


.form-control:disabled {
    background-color:#b4c6e73b;
    opacity: 1;
}

.buton-contrato {
    margin-top: 1.5em;
    margin-bottom: 13px;
    height: 3em;
}

.ud-e {
    margin-left: 13px;
}


.border-photho {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-top: 3px solid  #002f5d;


}


.caja-input {
    margin-top: 10px;
}

.img-emple {
    margin-top: 10px;
}
.buton-cancelare1{
    margin-left: 3.6em;
}
.columna-info {
    flex: 0 0;
    margin-left: 2pc;
    width: 80%;
}

.col-9-uxin {
    flex: 0 0 81.8%;
    max-width: 81.8%;

}


.link-successs {
    font-weight: 500;
    color: #11c470;
}

.link-dangerr {

    font-weight: 500;
    color: #e66001;
}


.t-box {
    color: #002f5d;
    font-size: 16px;
    font-weight: 500;

}

.i-box-contrato,
.form-control {
    margin-bottom: 1px;
    margin-top: 1px;
}




.i-box,
.form-control {
    margin-bottom: 13px;
    margin-top: 5px;
}

.col-md-4,
.m-auto {
    flex: 1;
}

.blockquote .title_validacion {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1.25rem;
}

.azul {
    color: #134074;
    font-size: 61px;
    text-shadow: 2px 2px 4px rgb(0 185 99 / 12%);
}

.azul2 {
    background-color: #134074;
    box-shadow: 2px 1px 1px 1px rgb(0 185 99 / 14%);
}

.desactivo {
    color: #a0a0a0;
}

.desactivo2 {
    background-color: #a0a0a0;
}

.activo {
    color: #e66001;
    text-shadow: 0px 2px 4px #ffffff;
    font-size: 61px;
}


.borsupd {
    margin: 1px;
    border-bottom: 3px solid #134074;
    
}

.borsupa {
    margin: 1px;
    border-bottom: 3px solid #ff7d1f;
}

.i-para {
    width: 24em;
}

.box-i-para{
    margin-left: 8px;
    margin-bottom: 0.9em;
}
.box-main-parafis{
    background-color: white;
    border-radius: 1em;
    border-top: 3px solid #134074;
  
} 

.text-parafis{
    color: #134074;
}