.primary-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-label{
    font-weight: 500;
    color: #002142;
    margin-top: 5px;
}

.mb-3 {
margin: 0; 
}

.figure1 {
    margin-left: 40px;
}

.box-main2 {
    width: 70.7%;
    margin-top: 3em;
    margin-bottom: 3em;

}

.bi-person-vcard-fill,
.bi-person-vcard,
.bi-person-video,
.bi-person-workspace,
.bi-archive {
    color: #a0a0a0;
    font-size: 60px;
}



.box-menu {
    display: flex;
    font-weight: 550;
    text-align: center;

}

.box-options {
    display: flex;
    justify-content: center;
}

.box-options i {
    margin-right: 10px;
}

.sub-menu {
    width: 10.2em;
    height: 5em;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h6 {
    color: #134074;
}

.m-b {
    background-color: #f3f3f3;
    margin-left: -1em;
}


.secundary-box {
    height: 52em;
    width: 100%;

}

.secundary-box .container {
    background-color: rgb(255, 255, 255);
    width: 70%;


}

.btnfs {
    color: #002f5d;
    background-color: #002f5d00;
    border: 2px solid#002f5d;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px #002f5d78;
    margin-right: 1em;
     
}

.btnfs:hover {
    color: #198754;
    background-color: #002f5d00;
    border: 2px solid #198754;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(0, 185, 99, 0.403);
}

.btnfa {
    color: #002f5d;
    background-color: #002f5d00;
    border: 2px solid#002f5d;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px #002f5d78;
     
}


.btnfa:hover {
    color: #dd5c00;
    background-color: #002f5d00;
    border: 2px solid #dd5c00;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(135, 71, 25, 0.462)
}

.t{
    color: #134074;
}

.espbots {
    margin-top: 3em;

}

.ip {
    font-size: 16px;
}


.divider-horizontal1,
.divider-horizontal2,
.divider-horizontal3,
.divider-horizontal4 {
    margin-top: 50px;
    background-color: #a0a0a0;
    width: 160px;
    height: 4px;
    margin-bottom: px;
}

.divider-horizontal {
    background-color: #002f5d;
    width: 1em;
    height: 1em;
}

.bi .pa_info_sup {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
}   

.segun .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.blockquote .title_validacion{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1.25rem;
}

.azul {
    color: #134074;
    font-size: 61px;
    text-shadow: 2px 2px 4px rgb(0 185 99 / 12%);
  }

.azul2 {
    background-color: #134074;
    box-shadow: 2px 1px 1px 1px rgb(0 185 99 / 14%);
  }

.desactivo {
    color: #a0a0a0;
}

.desactivo2 {
    background-color: #a0a0a0;
}

.activo {
    color:#e66001;
    text-shadow: 0px 2px 4px #ffffff;
    font-size: 61px;
}

.borsupd{
    margin: 1px;
    border-bottom: 3px solid #134074;
}

.borsupa{
    margin: 1px;
    border-bottom: 3px solid #ff7d1f;
}




