.primary-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label {
    font-weight: 500;
    color: #002142;
    margin-top: 5px;
}


.figure1 {
    margin-left: 40px;
}

.box-main2 {
    width: 70.7%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.bi-person-vcard-fill,
.bi-person-vcard,
.bi-person-video,
.bi-person-workspace,
.bi-archive {
    color: #a0a0a0;
    font-size: 60px;
}

.box-menu {
    display: flex;
    font-weight: 550;
    text-align: center;
}

.box-options {
    display: flex;
    justify-content: center;
}

.box-options i {
    margin-right: 10px;
}

.sub-menu {
    width: 10.2em;
    height: 5em;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h6 {
    color: #134074;
}

.m-b {
    background-color: #f3f3f3;
    margin-left: -1em;
}

.secundary-box {
    height: 52em;
    width: 100%;
}

.secundary-box .container {
    background-color: rgb(255, 255, 255);
    width: 70%;
}
/* Establece los estilos de los botones */
.btnfs {
    color: #002f5d;
    background-color: #ffffff;
    border: 2px solid #002f5d;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px #002f5d78;
  }
  
  .btnfs:hover {
    color: #198754;
    background-color: #ffffff;
    border: 2px solid #198754;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(0, 185, 99, 0.403);
  }
  
  /* Establece los estilos de los íconos */
  .editar-btn:hover .editar-icon {
    color: #198754;
    font-size: 1em;
    margin-right: 5px;
  }
  
  /* Establece el color inicial del ícono */
  .editar-icon {
    color: #002f5d;
    font-size: 1em;
    margin-right: 5px;
  }
  

.btnfa {
    color: #002f5d;
    background-color: #ffffff;
    border: 2px solid#002f5d;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px #002f5d78;
}

.btnfa:hover {
    color: #dd5c00;
    background-color: #ffffff;
    border: 2px solid #dd5c00;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(135, 71, 25, 0.462)
}

/* Establece los estilos de los botones de eliminar */
.btnfd {
    color: #002f5d;
    background-color: #ffffff;
    border: 2px solid #002f5d;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px #002f5d78;
  }
  
  .btnfd:hover {
    color: #b90000;
    background-color: #ffffff;
    border: 2px solid #b90000;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(135, 71, 25, 0.462);
  }
  
  /* Establece los estilos de los íconos dentro del botón de eliminar */
  .eliminar-btn:hover .eliminar-icon {
    color: #b90000;
    font-size: 1em;
    margin-right: 5px;
  }
  
  /* Establece el color inicial del ícono dentro del botón de eliminar */
  .eliminar-icon {
    color: #002f5d;
    font-size: 1em;
    margin-right: 5px;
  }

 
  

.btn-estado-activo {
    margin-top: 1em;
    margin-bottom: 0.6em;
    color: #198754;
    background-color: #ffffff;
    border: 2px solid #198754;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(0, 185, 99, 0.403);
}

.btn-estado-activo:hover {
    margin-top: 1em;
    margin-bottom: 0.6em;
    color: #198754;
    background-color: #ffffff;
    border: 2px solid #198754;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(0, 185, 99, 0.403);
}

.btn-estado-inactivo {
    margin-top: 1em;
    margin-bottom: 0.2em;
    color: #000000;
    background-color: #ffffff;
    font-size: 17px;
    border: 2px solid #000000;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.462)
}

.btn-estado-inactivo:hover {
    margin-top: 1em;
    margin-bottom: 0.2em;
    color: #000000;
    background-color: #ffffff;
    font-size: 17px;
    border: 2px solid #000000;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.462)
}



.espbots {
    margin-top: 3em;

}

.ip {
    font-size: 16px;
}

.divider-horizontal1,
.divider-horizontal2,
.divider-horizontal3,
.divider-horizontal4 {
    margin-top: 50px;
    background-color: #a0a0a0;
    width: 160px;
    height: 4px;
    margin-bottom: px;
}

.divider-horizontal {
    background-color: #002f5d;
    width: 1em;
    height: 1em;
}

.bi .pa_info_sup {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
}

.segun .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #002f5d;
}

.editing-mode-datos {
    background-color: #19875403;
    border-radius: 6px;
    margin-left: 1em;
    border-top: 3px solid #00a164;
    box-shadow: 1px 2px 4px #005d396b;
}

.inactive-mode-datos {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    margin-left: 1em;
    border-top: 3px solid #000000;

}

.canceled-mode-datos {
    background-color: white;
    border-radius: 6px;
    margin-left: 1em;
    border-top: 3px solid #002f5d;
}

.mode-color {
    border-bottom: 2px solid #134074;
}

.box-mayor-ver-emple {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.e:disabled {
    background-color: #2b75cb1f;
    border-bottom: #2b75cb1f;
    opacity: 1;
    height: 38px;
}

.o:disabled {
    background-color: rgba(255, 0, 0, 0.89);
    opacity: 1;
}

.buton-contrato-activo {
    margin-top: 1.5em;
    margin-bottom: 13px;
    height: 3em;
    color: #002f5d;
    background-color: #ffffff;
    border: 2px solid #002f5d;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px #00165d6b;
}

.buton-contrato-activo:hover {
    margin-top: 1.5em;
    margin-bottom: 13px;
    height: 3em;
    color: #002f5d;
    background-color: #ffffff;
    border: 2px solid #002f5d;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px #00165d6b;
}

.buton-contrato-desactivo {
    margin-top: 1.5em;
    margin-bottom: 13px;
    height: 3em;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.462)
}

.buton-contrato-desactivo:hover {
    margin-top: 1.5em;
    margin-bottom: 13px;
    height: 3em;
    color: #b90000;
    background-color: #ffffff;
    border: 2px solid #b90000;
    font-size: 17px;
    font-weight: 500;
    box-shadow: 1px 2px 4px rgba(135, 71, 25, 0.462)
}

.ud-e {
    margin-left: 13px;
}

.editing-border-photho {
    background-color: #19875403;
    border-radius: 6px;
    border-top: 3px solid #00a164;
    box-shadow: 1px 2px 4px #005d396b;
}

.canceled-border-photho {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-top: 3px solid #002f5d;
}

.inactive-border-photho {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border-top: 3px solid #000000;
}

.caja-input {
    margin-top: 10px;
}

.img-emple {
    margin-top: 10px;
}

.buton-cancelare1 {
    margin-left: 3.6em;
}

.columna-info {
    flex: 0 0;
    margin-left: 2pc;
    width: 80%;
}

.col-9-uxin {
    flex: 0 0 81.8%;
    max-width: 81.8%;
}

.link-successs {
    font-weight: 500;
    color: #11c470;
}

.link-dangerr {
    font-weight: 500;
    color: #e66001;
}

.t-principal-activo {
    color: #002f5d;
}


.t-principal-inaactivo {
    color: #000000;
    margin-left: 0.4em;
}

.t-secundario-activo {
    color: #002f5d;
}

.t-secundario-inaactivo {
    color: #000000;
}

.t-box {
    color: #002f5d;
    font-size: 16px;
    font-weight: 500;

}

.t-box-ver-1{
    color: #002f5d;
    font-size: 16px;
    font-weight: 500;
    
}

.t-box-ver-2{
    color: #002f5d;
    font-size: 16px;
    font-weight: 500;
    margin-left: 0.4em;
}

.t-box-ver-3{
    color: #002f5d;
    font-size: 16px;
    font-weight: 500;
    margin-left: 0.4em;
}



.i-box-contrato,
.form-control {
    margin-bottom: 1px;
    margin-top: 1px;
}

.i-box,
.form-control {
    margin-bottom: 13px;
    margin-top: 5px;
}

.col-md-4,
.m-auto {
    flex: 1;
}

.modal-contenido{
    box-shadow: 0px 4px 20px 3px rgb(10 8 48);
}
.blockquote .title_validacion {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 1.25rem;
}

.azul {
    color: #134074;
    font-size: 61px;
    text-shadow: 2px 2px 4px rgb(0 185 99 / 12%);
}

.azul2 {
    background-color: #134074;
    box-shadow: 2px 1px 1px 1px rgb(0 185 99 / 14%);
}

.desactivo {
    color: #a0a0a0;
}

.desactivo2 {
    background-color: #a0a0a0;
}

.activo {
    color: #e66001;
    text-shadow: 0px 2px 4px #ffffff;
    font-size: 61px;
}


.borsupd {
    margin: 1px;
    border-bottom: 3px solid #134074;

}

.borsupa {
    margin: 1px;
    border-bottom: 3px solid #ff7d1f;
}

.i-para {
    width: 23.1em;
    margin-left: 6px;
}

.box-i-para {
    margin-left: 8px;
    margin-bottom: 0.9em;
}

.editing-box-main-parafis {
    background-color: #19875403;
    border-radius: 6px;
    border-top: 3px solid #00a164;
    box-shadow: 1px 2px 4px #005d396b;
}

.canceled-box-main-parafis {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border-top: 3px solid #002f5d;
}





.inactive-box-main-parafis {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border-top: 3px solid #000000;

}

.text-parafis {
    color: #134074;
}


.table-contacto-desa{
    width: 98.5%;
    margin-left: 14px;

}

.tc{
    margin-left: 12px ;
}

.table-contacto-act{
    margin-left: 1em;
}
.i-para-con-act{
    margin-left: -1px;
}

.t-box-ver-4{
    color: #002f5d;
    font-weight: 500;
    margin-left: -1px;
}

.col-act{
    flex: 0 0 auto;
    width: 27%;
}

.i-para-con-act:disabled{
    background-color: #2b75cb1f;
    border-bottom: #2b75cb1f;
    opacity: 1;

}


.regresar-btn:hover .regresar-icon {
    color: #dd5c00;
    font-size: 1em;
    margin-right: 5px

  }
  
  /* Establece el color inicial del ícono */
  .regresar-icon {
    color: #002f5d;
    font-size: 1em;
    margin-right: 5px;


  }