.primary-box{
    height: 11em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.secundary-box{
    height: 37em;
    width: 100%;
}
.box-menu{  
    display: flex;
    font-weight: 550;
    color: #004884;
}
.sub-menu{
   border: rgb(202, 206, 220) solid 3px;
    width: 10.2em;
    height: 5em;
    margin-left: 1px;
    border-radius: 10px;
    font-size: 18px;
}
.box-options{
    display: flex;
    justify-content: center;
}

.sub-menu div{
    color: #004884;
}
.secundary-box .container{
    background-color: rgb(227, 231, 235);
    border-radius: 7px;
    
}

.box-options i {
  color:#004884 ;
  margin-right: 10px;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-main2{
   width: 70%;
   margin-top: 30px;
   margin-bottom: 70px;
   
}

