:root{
    --azul:#002a55;
    --naranja:#fa8131;
    --blanco:#fff;
}
.contenido {
    height: calc(100vh - 60px); /* 60px es la altura de la barra superior */
    overflow-y: auto;
    padding: 0 20px; /* Agrega relleno según sea necesario */
  }

.ctbanner{
    margin: auto;
    width: 80%;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
    height: 50px;
}

::-webkit-scrollbar-thumb:hover {
    width: 8px;
    background: var(--naranja);
}