:root{
    --azul:#134074;
    --naranja:#fa8131;
    --blanco:#fff;
}
.contenido{
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 0 25px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
    height: 50px;
}

::-webkit-scrollbar-thumb:hover {
    width: 8px;
    background: var(--naranja);
}