:root{
    --azul:#002a55;
    --naranja:#fa8131;
    --blanco:#fff;
}
.barra{
    background-color: var(--azul);
    color: var(--blanco);
}
.bi-list{
    color: var(--blanco);
    font-size: 25px;
}
.bi{
    color: var(--blanco);
    font-size: 25px;
}